TCPClient/out.bin
TCPClient/outputImages/*
TCPClient/rowdataoutputImages/*
TCPClient/stemRowData/*
TCPClient/leafRowData/*
TCPClient/testInLeaf/*
TCPClient/testInStem/*
leaf/*
stem/*
TCPClient/FYPTraningModule/*
